*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: linear-gradient(135deg, #FAD0C4, #FFD1FF);
    height: 100vh;
    margin: 0;
}
.conatiner{
    background:#ffffff;
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
.conatiner p{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;

}
.conatiner input{
    width: 100%;
    height: 50px;
    border: 1px solid  #a80d8e;
    margin: 10px 0 20px;
    border-radius: 5px;
    
}
.conatiner button{
    width: 100%;
    height: 50px;
    background:  #FF6B6B;
    color:  #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 0 ;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    outline: 0;
    border: 0;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    font-weight: 500;

}
button:hover {
    background: #E63946;
}
#imgBox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;

}
#imgBox img{
    width: 100%;
    padding: 10px;

}
#imgBox.show-img{
    max-height: 300px;
    margin: 10px;
    border: 1px solid #d1d1d1;
}
.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
    
}